In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df=pd.read_csv('train.csv')

In [20]:
df.head()

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0

In [21]:
df.num_sold=df.num_sold.fillna(df.num_sold.median())

In [22]:
df_=pd.read_csv('test.csv')

In [23]:
from sklearn.preprocessing import LabelEncoder
for i in ['country','store','product']:
  le=LabelEncoder()
  df[i]=le.fit_transform(df[i])
  df_[i]=le.transform(df_[i])

In [24]:
def createtimefeatures(df):
  df.date=pd.to_datetime(df.date)
  df['month'] = df['date'].dt.month
  df['day'] = df['date'].dt.day
  df['year'] = df['date'].dt.year
  df['quarter'] = df['date'].dt.quarter
  df['semester'] = np.where(df.quarter.isin([1,2]),1,2)
  df['dayofweek'] = df['date'].dt.dayofweek
  df['is_weekend'] = np.where(df['dayofweek'].isin([5,6]),1,0)
  return df

df=createtimefeatures(df)
df_=createtimefeatures(df_)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X,y=df.drop(columns=['date','num_sold']),df.num_sold

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=95)

In [28]:
df.head()

,id,date,country,store,product,num_sold,month,day,year,quarter,semester,dayofweek,is_weekend
0,0,2010-01-01,0,0,0,605.0,1,1,2010,1,1,4,0
1,1,2010-01-01,0,0,1,973.0,1,1,2010,1,1,4,0
2,2,2010-01-01,0,0,2,906.0,1,1,2010,1,1,4,0
3,3,2010-01-01,0,0,3,423.0,1,1,2010,1,1,4,0
4,4,2010-01-01,0,0,4,491.0,1,1,2010,1,1,4,0

In [29]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

#random_grid={'bootstrap': [True, False],
# 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
# 'max_features': ['auto', 'sqrt'],
# 'min_samples_leaf': [1, 2, 4],
# 'min_samples_split': [2, 5, 10],
# 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

#rf=RandomForestRegressor(random_state=95)
#rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=95, n_jobs = -1)
#rf_random.fit(X_train, y_train)

In [30]:
#model=rf_random.best_estimator_

In [31]:
#print(rf_random.best_params_)

In [32]:
#import pickle
#filename = 'model.pkl'
#pickle.dump(model, open(filename, 'wb'))

In [35]:
filename = 'model.pkl'
model = pickle.load(open(filename, 'rb'))
model.score(X_test,y_test)
print(model.get_params)

<bound method BaseEstimator.get_params of RandomForestRegressor(max_depth=20, max_features='auto', min_samples_split=10,
                      n_estimators=2000, random_state=95)>

In [36]:
df_.head()

,id,date,country,store,product,month,day,year,quarter,semester,dayofweek,is_weekend
0,230130,2017-01-01,0,0,0,1,1,2017,1,1,6,1
1,230131,2017-01-01,0,0,1,1,1,2017,1,1,6,1
2,230132,2017-01-01,0,0,2,1,1,2017,1,1,6,1
3,230133,2017-01-01,0,0,3,1,1,2017,1,1,6,1
4,230134,2017-01-01,0,0,4,1,1,2017,1,1,6,1

In [41]:
df_['num_sold']=model.predict(df_.drop(columns=['date']))

In [42]:
df_.head()

,id,date,country,store,product,month,day,year,quarter,semester,dayofweek,is_weekend,num_sold
0,230130,2017-01-01,0,0,0,1,1,2017,1,1,6,1,605.000000
1,230131,2017-01-01,0,0,1,1,1,2017,1,1,6,1,770.355144
2,230132,2017-01-01,0,0,2,1,1,2017,1,1,6,1,606.588393
3,230133,2017-01-01,0,0,3,1,1,2017,1,1,6,1,330.168182
4,230134,2017-01-01,0,0,4,1,1,2017,1,1,6,1,439.216740